@model Registration
@{
    ViewData["Title"] = "Registration";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Coffee Shop @ViewData["Title"]</h1>
</div>

<div class="text-center">
    <h4> <a href="https://localhost:7159/Home/RegistrationForm">Click here to register!</a></h4>
</div>
