@{
}


<form method="post" asp-action="RegistrationResult">

    <label for="FirstName">First Name:</label>
    <input type="text" name="FirstName" required/>

    <label for="LastName">Last Name:</label>
    <input type="text" name="LastName"/>

    <label for="Email">Email:</label>
    <input type="email" name="Email" required/>

    <label for="Password">Password:</label>
    <input type="password" name="Password" required/>


    <input type="submit" value="Click here to submit"/>
</form>